---
import Container from "./Container.astro"

---

<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto grid max-w-7xl gap-x-8 gap-y-20 px-6 lg:px-8 xl:grid-cols-4">
    <div class="max-w-2xl">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Our 10th & 12th Class Result</h2>
      <p class="mt-6 text-lg leading-8 text-gray-600">Congratulations to all the students of Renu Gupta Achievers Academy for achieving such remarkable results in your 10th and 12th class exams! Your hard work and dedication have paid off, and you should be proud of yourselves for this incredible accomplishment.</p>
    </div>
    <ul role="list" class="grid gap-x-8 gap-y-12 sm:grid-cols-3 sm:gap-y-16 xl:col-span-3">

      <li>
        <div class="flex items-center gap-x-6">
          <img class="h-24 w-24 rounded-full" src="./images/students/01.jpeg" alt="">
          <div>
            <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">Riya</h3>
            <p class="text-sm font-semibold leading-6 text-indigo-600">Maths : 96%</p>
            <p class="text-sm font-semibold leading-6 text-indigo-600">Science : 95%</p>
          </div>
        </div>
      </li>

    <li>
        <div class="flex items-center gap-x-6">
          <img class="h-24 w-24 rounded-full" src="./images/students/02.jpeg" alt="">
          <div>
            <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">Shourya</h3>
            <p class="text-sm font-semibold leading-6 text-indigo-600">Maths : 91%</p>
            <p class="text-sm font-semibold leading-6 text-indigo-600">Science : 99%</p>
          </div>
        </div>
      </li>

    <li>
        <div class="flex items-center gap-x-6">
          <img class="h-24 w-24 rounded-full" src="./images/students/03.jpeg" alt="">
          <div>
            <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">Vanisha</h3>
            <p class="text-sm font-semibold leading-6 text-indigo-600">Maths : 95%</p>
            <p class="text-sm font-semibold leading-6 text-indigo-600">Science : 95%</p>
          </div>
        </div>
      </li>

    <li>
        <div class="flex items-center gap-x-6">
          <img class="h-24 w-24 rounded-full" src="./images/students/04.jpeg" alt="">
          <div>
            <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">Aditya</h3>
            <p class="text-sm font-semibold leading-6 text-indigo-600">Maths : 92%</p>
            <p class="text-sm font-semibold leading-6 text-indigo-600">Science : 95%</p>
          </div>
        </div>
      </li>

    <li>
        <div class="flex items-center gap-x-6">
          <img class="h-24 w-24 rounded-full" src="./images/students/05.jpeg" alt="">
          <div>
            <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">Souhard</h3>
            <p class="text-sm font-semibold leading-6 text-indigo-600">Maths : 93%</p>
            <p class="text-sm font-semibold leading-6 text-indigo-600">Science : 98%</p>
          </div>
        </div>
      </li>


    <li>
        <div class="flex items-center gap-x-6">
          <img class="h-24 w-24 rounded-full" src="./images/students/06.jpeg" alt="">
          <div>
            <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">Aruj (CLS-12)</h3>
            <p class="text-sm font-semibold leading-6 text-indigo-600">Maths : 93%</p>
            <p class="text-sm font-semibold leading-6 text-indigo-600">Science : 98%</p>
          </div>
        </div>
      </li>
      <!-- More people... -->
    </ul>
  </div>
</div>




<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto grid max-w-7xl gap-x-8 gap-y-20 px-6 lg:px-8 xl:grid-cols-4">
    <div class="max-w-2xl">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Congratulations to all Achievers</h2>
      <p class="mt-6 text-lg leading-8 text-gray-600">Congratulations to all the students of Renu Gupta Achievers Academy for achieving such remarkable results in your 10th and 12th class exams! Your hard work and dedication have paid off, and you should be proud of yourselves for this incredible accomplishment.</p>
    </div>
    <ul role="list" class="grid gap-x-8 gap-y-12 sm:grid-cols-3 sm:gap-y-16 xl:col-span-3">
    
    <li>
        <div class="flex items-center gap-x-6">
          <img class="h-24 w-24 rounded-full" src="./images/students/07.jpeg" alt="">
          <div>
            <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">Srushti</h3>
            <p class="text-sm font-semibold leading-6 text-indigo-600">Maths : 95%</p>
            <p class="text-sm font-semibold leading-6 text-indigo-600">Science : 93%</p>
          </div>
        </div>
      </li>

    <li>
        <div class="flex items-center gap-x-6">
          <img class="h-24 w-24 rounded-full" src="./images/students/08.jpeg" alt="">
          <div>
            <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">Kashvi</h3>
            <p class="text-sm font-semibold leading-6 text-indigo-600">Maths : 86%</p>
            <p class="text-sm font-semibold leading-6 text-indigo-600">Science : 93%</p>
          </div>
        </div>
      </li>


    <li>
        <div class="flex items-center gap-x-6">
          <img class="h-24 w-24 rounded-full" src="./images/students/09.jpeg" alt="">
          <div>
            <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">Shubhangi</h3>
            <p class="text-sm font-semibold leading-6 text-indigo-600">Maths : 78%</p>
            <p class="text-sm font-semibold leading-6 text-indigo-600">Science : 86%</p>
          </div>
        </div>
      </li>

          <li>
        <div class="flex items-center gap-x-6">
          <img class="h-24 w-24 rounded-full" src="./images/students/10.jpeg" alt="">
          <div>
            <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">Kushagra (Crash Course)</h3>
            <p class="text-sm font-semibold leading-6 text-indigo-600">Maths : 60%</p>
            <p class="text-sm font-semibold leading-6 text-indigo-600">Science : 70%</p>
          </div>
        </div>
      </li>

    <li>
        <div class="flex items-center gap-x-6">
          <img class="h-24 w-24 rounded-full" src="./images/avatars/man.png" alt="">
          <div>
            <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">Aarna (Crash Course)</h3>
            <p class="text-sm font-semibold leading-6 text-indigo-600">Maths : 60%</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>



